.app-wrapper{
	display:grid;
	grid-template-areas: 
	'. header header .'
	'. nav content . '	
	;
	grid-template-rows:60px 1fr ;
	grid-template-columns: 10rem 2fr 10fr 10rem;
	grid-gap:10px;
}

.app-wrapper-content{
	grid-area: content;
	background-color: darkcyan;
}

.preloader-app{
	display: flex;
	justify-content: center;
	align-items: center;
}